* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #020617;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
}

.todo-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.todo-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  color: #020617;
  cursor: pointer;
  font-weight: bold;
}

.todo-box button:hover {
  background: #0ea5e9;
}

.todo-list {
  list-style: none;
}

.todo-list li {
  background: #020617;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  border-left: 4px solid #38bdf8;
}
