body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

h1 {
  color: #38bdf8;
}

img {
  margin-top: 20px;
  border-radius: 10px;
}
